@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 4rem;
    font-weight: 600;  
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
.centrar{
    text-align: center;
}
/* Header*/

/* .Header__contacto{
    padding: 0.5rem 10rem;
   margin: 0 5rem;
   display: flex;
   justify-content: space-between;
   font-size: 1.5rem;
   background-color: #7F8487;
} */
.header__contacto-cajitas{
    grid-area: hcontacto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    background-color: #7F8487;
    font-size: 1rem;
}
.header__contacto-cajitas div{
    display: flex;
    padding: 5px;
    
}
.header__contacto-cajitas div img{
    width: 15px;
    padding: 0 5px;
}
.header__contacto-redes{
    grid-area: hredes;
    display: flex;
    justify-content: center;
    
}
.header__contacto-redes img{
    padding: 5px;
    width: 2rem;
    
}

nav{
    background-color: white;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;

    
}
.nav__logo{
    grid-area: nav-logo;
    
}
.nav__logo img{
    width: 10rem;
}
.nav__menu{
    grid-area: nav__menu;

}

.nav__menu ul{
    list-style-type: none;
}

.nav__menu ul li{
    display: inline-block;
}
.nav__menu ul li a{
    color: #413f42;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem;
}

/* MAIN */

/* Imagen Hero */
.Header__imagenHero{
    grid-area: hero;
    background-image: url(images/inicio-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.Header__imagenHero h2{

    font-weight: 500;
    padding-top: 100%;
    text-align: center;
}
.Header__imagenHero h2 a{
    text-decoration: none;
    color: #fff;
    background-color: #413f42;
}
body header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "hcontacto"
    "hredes"
    "nav-logo"
        
}

/* Comienzo de main */
.main__formulario{
    grid-area: formulario;
    text-align: center;
    border: #7F8487 2px solid;
}
.main__formulario-enviar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2C3639;
    padding: 1rem;
    
}

/* Seccion servicios */
.main__servicios{
    grid-area: servicios;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.main__servicios__ofrecidos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main__servicios__ofrecidos div{
    display: inline-block;
    
    padding: 10px 20px;
}
.main__servicios__ofrecidos div img{
    width: 250px;
    height: 200px;
}
.main__uppercase{
    text-transform: uppercase;
    padding: 1.5rem 0;
}
body header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "hcontacto"
    "hredes"
    "nav-logo";
        
}

body main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "hero"
    "formulario"
    "servicios"
    "promocional"
    "tours"
    "newsletter";
} 

/* Seccion promocional */
.main__seccionPromocional{
    grid-area: promocional;
    background-color: #9CB4CC ;
    text-align: center;   
}
    .main__seccionPromocional h3{
    padding-bottom: 1.5rem;
    }
/* Los tours mas elegidos */
.main__tours{
    width: 100%;
    grid-area: tours;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.main__tours div{
    display: inline-block;
    padding: 20px 20px 10px;
}
.main__tours div img{
    width: 100%;
    height: 200px;
}
.main__tours h2{
 text-align: center;   
}
/* Newsletter y testimonios */
.main__newsletter{
    grid-area: newsletter;
    background-color: #9CB4CC;
    text-align: center;
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.main__newsletter--saber{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    border: #2C3639 1px solid;
    border-radius: 2rem;
    
}
.newsletterSuscribe{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
 
}
.main__newsletter--testimonios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;

}
    .main__newsletter--testimonios img{
        width: 60%;
        padding-top: 5px;
    }

/* Footer */


footer{
    background-color: #2C3639;
    margin-top: 1rem;
    padding: 1rem 0;
    
    color: antiquewhite;
}
.footerLogo{
    grid-area: footerLogo;
    font-size: 1.5rem;
    padding: 2rem 4rem;
    
}
.footerLogo p{
    font-size: 1rem;
    color: whitesmoke;
}
.footerLogo_img{
    width: 50%;
    
}
.menuFooterC{
    grid-area: menuFooter;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
    .menuFooterC div{
        text-align: center;
        padding: 5px 0;
    }

.footerRedes{
    grid-area: footerRedes;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 1rem;
    }
    
.footerWhatsapp{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #FFFFFF;
    padding: 5px;
}
.footerWhatsapp a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem;
}
.footerIcon{
    width: 5%;
    padding-right: 5px;
  
}





body footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "footerLogo"
    "menuFooter"
    "footerRedes";
}
  

/* Estilo seccion Tours */
.main__seccionTours{
    background-image: url(/images/tours-mendoza.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
    text-align: center;
    
}
.main__seccionTours h1{
    padding: 7rem;
    color: #FFFFFF;
}
.tours_introduccion{
    width: 95%;
    margin: 2rem auto;
}
.tours_introduccion h3{
    margin-bottom: 1rem;
}

/* Estilos de letra */
.pSizeDos{
    font-size: 2rem;
}
.pSizeUnoCinco{
    font-size: 1.5rem;
}
.mayusculas{
    text-transform: uppercase;
}

/* Estas tres clases son solo de prueba grid - BORRAR DESPUES */
.bg-celeste{
    background-color: aqua;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}

/* GRID */
.seccionContenedorGrid{
    width: 95%;
    margin: 1rem auto;
    display: grid;
}
.templateAreas{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "caminos caminos"
    "listados fotos"
    "listados fotos";
}
#caminos{
    grid-area: caminos;
}
#listado{
    grid-area: listados;
}
#fotos{
    grid-area:fotos;
}
.seccionContenedorGrid div{
    padding-bottom: 1rem;
}
.seccionContenedorGrid_caminos h2{
    padding-bottom: 1rem;
}


.tours__bodegas{
    padding-left: 5rem;
    padding-top: 3rem;
}
.tours__bodegas h3{
    font-size: 2.5rem;
}
.listadoBodegas{
    padding: 2rem 10rem;  
}
.listadoBodegas ul li{
    list-style-image:url(/images/iconos/tourrrr.ico);

}
.tours__bodegas__img{
    display: inline-block;
    width: 23%;
}
.tours__circuito{
    padding: 1rem 10rem;
    
}
.tours__circuito-justificado{
    text-align: justify;
}
.tours__circuito-caracteristicas{
    display: inline-block;
}